In [2]:
import pandas as pd
df = pd.read_csv("sales_data.csv")
df = df.head(20).set_index("invoice_no")
df = df.rename_axis(None)
df

,customer_id,category,quantity,price,invoice_date,shopping_mall
I138884,C241288,Clothing,5,1500.40,05-08-2022,Kanyon
I317333,C111565,Shoes,3,1800.51,12-12-2021,Forum Istanbul
I127801,C266599,Clothing,1,300.08,09-11-2021,Metrocity
I173702,C988172,Shoes,5,3000.85,16-05-2021,Metropol AVM
I337046,C189076,Books,4,60.60,24-10-2021,Kanyon
I227836,C657758,Clothing,5,1500.40,24-05-2022,Forum Istanbul
I121056,C151197,Cosmetics,1,40.66,13-03-2022,Istinye Park
I293112,C176086,Clothing,2,600.16,13-01-2021,Mall of Istanbul
I293455,C159642,Clothing,3,900.24,04-11-2021,Metrocity
I326945,C283361,Clothing,2,600.16,22-08-2021,Kanyon
I306368,C240286,Food & Beverage,2,10.46,25-12-2022,Metrocity
I139207,C191708,Books,1,15.15,28-10-2022,Emaar Square Mall
I640508,C225330,Toys,4,143.36,31-07-2022,Metrocity
I179802,C312861,Clothing,2,600.16,17-11-2022,Cevahir AVM
I336189,C555402,Clothing,2,600.16,03-06-2022,Kanyon
I688768,C362288,Shoes,5,3000.85,07-11-2021,Viaport Outlet
I294687,C300786,Books,2,30.30,16-01-2021,Metrocity
I195744,C330667,Food & Beverage,3,15.69,05-01-2022,Zorlu Center
I993048,C218149,Clothing,2,600.16,26-07-2021,Metropol AVM
I992454,C196845,Toys,4,143.36,07-03-2023,Cevahir AVM

In [3]:
df.insert(4,"subtotal",df["quantity"] * df["price"])
df

,customer_id,category,quantity,price,subtotal,invoice_date,shopping_mall
I138884,C241288,Clothing,5,1500.40,7502.00,05-08-2022,Kanyon
I317333,C111565,Shoes,3,1800.51,5401.53,12-12-2021,Forum Istanbul
I127801,C266599,Clothing,1,300.08,300.08,09-11-2021,Metrocity
I173702,C988172,Shoes,5,3000.85,15004.25,16-05-2021,Metropol AVM
I337046,C189076,Books,4,60.60,242.40,24-10-2021,Kanyon
I227836,C657758,Clothing,5,1500.40,7502.00,24-05-2022,Forum Istanbul
I121056,C151197,Cosmetics,1,40.66,40.66,13-03-2022,Istinye Park
I293112,C176086,Clothing,2,600.16,1200.32,13-01-2021,Mall of Istanbul
I293455,C159642,Clothing,3,900.24,2700.72,04-11-2021,Metrocity
I326945,C283361,Clothing,2,600.16,1200.32,22-08-2021,Kanyon
I306368,C240286,Food & Beverage,2,10.46,20.92,25-12-2022,Metrocity
I139207,C191708,Books,1,15.15,15.15,28-10-2022,Emaar Square Mall
I640508,C225330,Toys,4,143.36,573.44,31-07-2022,Metrocity
I179802,C312861,Clothing,2,600.16,1200.32,17-11-2022,Cevahir AVM
I336189,C555402,Clothing,2,600.16,1200.32,03-06-2022,Kanyon
I688768,C362288,Shoes,5,3000.85,15004.25,07-11-2021,Viaport Outlet
I294687,C300786,Books,2,30.30,60.60,16-01-2021,Metrocity
I195744,C330667,Food & Beverage,3,15.69,47.07,05-01-2022,Zorlu Center
I993048,C218149,Clothing,2,600.16,1200.32,26-07-2021,Metropol AVM
I992454,C196845,Toys,4,143.36,573.44,07-03-2023,Cevahir AVM

In [4]:
df.insert(5, "discount", df.apply(lambda row: round(row["subtotal"] * 0.05 if row["quantity"] > 3 else 0, 2), axis=1))
df

,customer_id,category,quantity,price,subtotal,discount,invoice_date,shopping_mall
I138884,C241288,Clothing,5,1500.40,7502.00,375.10,05-08-2022,Kanyon
I317333,C111565,Shoes,3,1800.51,5401.53,0.00,12-12-2021,Forum Istanbul
I127801,C266599,Clothing,1,300.08,300.08,0.00,09-11-2021,Metrocity
I173702,C988172,Shoes,5,3000.85,15004.25,750.21,16-05-2021,Metropol AVM
I337046,C189076,Books,4,60.60,242.40,12.12,24-10-2021,Kanyon
I227836,C657758,Clothing,5,1500.40,7502.00,375.10,24-05-2022,Forum Istanbul
I121056,C151197,Cosmetics,1,40.66,40.66,0.00,13-03-2022,Istinye Park
I293112,C176086,Clothing,2,600.16,1200.32,0.00,13-01-2021,Mall of Istanbul
I293455,C159642,Clothing,3,900.24,2700.72,0.00,04-11-2021,Metrocity
I326945,C283361,Clothing,2,600.16,1200.32,0.00,22-08-2021,Kanyon
I306368,C240286,Food & Beverage,2,10.46,20.92,0.00,25-12-2022,Metrocity
I139207,C191708,Books,1,15.15,15.15,0.00,28-10-2022,Emaar Square Mall
I640508,C225330,Toys,4,143.36,573.44,28.67,31-07-2022,Metrocity
I179802,C312861,Clothing,2,600.16,1200.32,0.00,17-11-2022,Cevahir AVM
I336189,C555402,Clothing,2,600.16,1200.32,0.00,03-06-2022,Kanyon
I688768,C362288,Shoes,5,3000.85,15004.25,750.21,07-11-2021,Viaport Outlet
I294687,C300786,Books,2,30.30,60.60,0.00,16-01-2021,Metrocity
I195744,C330667,Food & Beverage,3,15.69,47.07,0.00,05-01-2022,Zorlu Center
I993048,C218149,Clothing,2,600.16,1200.32,0.00,26-07-2021,Metropol AVM
I992454,C196845,Toys,4,143.36,573.44,28.67,07-03-2023,Cevahir AVM

In [5]:
df.insert(6,"total",df["subtotal"] - df["discount"])
df

,customer_id,category,quantity,price,subtotal,discount,total,invoice_date,shopping_mall
I138884,C241288,Clothing,5,1500.40,7502.00,375.10,7126.90,05-08-2022,Kanyon
I317333,C111565,Shoes,3,1800.51,5401.53,0.00,5401.53,12-12-2021,Forum Istanbul
I127801,C266599,Clothing,1,300.08,300.08,0.00,300.08,09-11-2021,Metrocity
I173702,C988172,Shoes,5,3000.85,15004.25,750.21,14254.04,16-05-2021,Metropol AVM
I337046,C189076,Books,4,60.60,242.40,12.12,230.28,24-10-2021,Kanyon
I227836,C657758,Clothing,5,1500.40,7502.00,375.10,7126.90,24-05-2022,Forum Istanbul
I121056,C151197,Cosmetics,1,40.66,40.66,0.00,40.66,13-03-2022,Istinye Park
I293112,C176086,Clothing,2,600.16,1200.32,0.00,1200.32,13-01-2021,Mall of Istanbul
I293455,C159642,Clothing,3,900.24,2700.72,0.00,2700.72,04-11-2021,Metrocity
I326945,C283361,Clothing,2,600.16,1200.32,0.00,1200.32,22-08-2021,Kanyon
I306368,C240286,Food & Beverage,2,10.46,20.92,0.00,20.92,25-12-2022,Metrocity
I139207,C191708,Books,1,15.15,15.15,0.00,15.15,28-10-2022,Emaar Square Mall
I640508,C225330,Toys,4,143.36,573.44,28.67,544.77,31-07-2022,Metrocity
I179802,C312861,Clothing,2,600.16,1200.32,0.00,1200.32,17-11-2022,Cevahir AVM
I336189,C555402,Clothing,2,600.16,1200.32,0.00,1200.32,03-06-2022,Kanyon
I688768,C362288,Shoes,5,3000.85,15004.25,750.21,14254.04,07-11-2021,Viaport Outlet
I294687,C300786,Books,2,30.30,60.60,0.00,60.60,16-01-2021,Metrocity
I195744,C330667,Food & Beverage,3,15.69,47.07,0.00,47.07,05-01-2022,Zorlu Center
I993048,C218149,Clothing,2,600.16,1200.32,0.00,1200.32,26-07-2021,Metropol AVM
I992454,C196845,Toys,4,143.36,573.44,28.67,544.77,07-03-2023,Cevahir AVM

In [6]:
df1 = df[df["category"] == "Shoes"]
df1

,customer_id,category,quantity,price,subtotal,discount,total,invoice_date,shopping_mall
I317333,C111565,Shoes,3,1800.51,5401.53,0.00,5401.53,12-12-2021,Forum Istanbul
I173702,C988172,Shoes,5,3000.85,15004.25,750.21,14254.04,16-05-2021,Metropol AVM
I688768,C362288,Shoes,5,3000.85,15004.25,750.21,14254.04,07-11-2021,Viaport Outlet

In [7]:
df2 = df[(df["shopping_mall"] == "Forum Istanbul") | (df["shopping_mall"] == "Zorlu Center")]
df2

,customer_id,category,quantity,price,subtotal,discount,total,invoice_date,shopping_mall
I317333,C111565,Shoes,3,1800.51,5401.53,0.0,5401.53,12-12-2021,Forum Istanbul
I227836,C657758,Clothing,5,1500.40,7502.00,375.1,7126.90,24-05-2022,Forum Istanbul
I195744,C330667,Food & Beverage,3,15.69,47.07,0.0,47.07,05-01-2022,Zorlu Center

In [8]:
df3 = df[(df["shopping_mall"] == "Kanyon") & (df["category"] == 'Clothing')]
df3

,customer_id,category,quantity,price,subtotal,discount,total,invoice_date,shopping_mall
I138884,C241288,Clothing,5,1500.40,7502.00,375.1,7126.90,05-08-2022,Kanyon
I326945,C283361,Clothing,2,600.16,1200.32,0.0,1200.32,22-08-2021,Kanyon
I336189,C555402,Clothing,2,600.16,1200.32,0.0,1200.32,03-06-2022,Kanyon

In [9]:
print(f"Total Penjualan Terendah : {round(min(df['total']),2)}")
print(f"Total Rata - Rata Penjualan : {round(df['total'].mean(),2)}")
print(f"Total Penjualan Tertinngi : {round(max(df['total']),2)}")

Total Penjualan Terendah : 15.15
Total Rata - Rata Penjualan : 2933.5
Total Penjualan Tertinngi : 14254.04

In [10]:
total_2021 = df[df['invoice_date'].str[-4:] == '2021']['total'].sum()
total_2022 = df[df['invoice_date'].str[-4:] == '2022']['total'].sum()
total_2023 = df[df['invoice_date'].str[-4:] == '2023']['total'].sum()
print(f"Total Penjualan Tahun 2021: {total_2021}")
print(f"Total Penjualan Tahun 2022: {total_2022}")
print(f"Total Penjualan Tahun 2023: {total_2023:.2f}")

Total Penjualan Tahun 2021: 40802.25
Total Penjualan Tahun 2022: 17323.01
Total Penjualan Tahun 2023: 544.77